.product-button {
    width: 120px;
    margin: 0.5rem;
    padding: 1rem;
    border: 2px solid #444;
    border-radius: 8px;

    font-size: 0.9rem;
    text-align: center;

    background: #f8f8f8;
}
.product-button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}
