.product-list {
    --gap: 1.5rem;
    --padding: 1.5rem 2.25rem;

    position: relative;

    overflow-x: hidden;
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    gap: var(--gap);
    align-content: start;

    min-height: 0;
    padding: var(--padding);
}

@media (min-width: 768px) {
    .product-list {
        --gap: 3rem;
        --padding: 3rem;
    }
}
