.coin-button {
    /* Static Variables */

    /* Updatable Variables */
    --border: 2px solid transparent;
    --box-shadow: var(--box-shadow-default);
    --size: 3.75rem;
    --transform: none;
    --shadow-width: 64%;

    cursor: pointer;

    position: relative;

    width: var(--size);
    height: var(--size);
    padding: 0;
    border: none;
    border-radius: 50%;

    background: none;
    outline: none;
}

.coin-button[data-hovered] {
    --transform: scale(1.06) translateY(-10%);
    --shadow-width: 60%;
}

.coin-button[data-pressed] {
    --transform: scale(0.9) translateY(0%);
}

.coin-button[data-focus-visible] {
    --border: 2px solid #1f867c;
    --transform: scale(1.06) translateY(-10%);
    --shadow-width: 60%;
}

.coin-button::after {
    content: "";

    position: absolute;
    bottom: -0.4rem;
    left: 50%;
    transform: translateX(-50%);

    width: var(--shadow-width);
    height: 0.625rem;
    border-radius: 50%;

    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.45), transparent 70%);
    filter: blur(2px);

    transition: width 0.2s ease;
}

.coin-button__image {
    transform: var(--transform);
    width: 100%;
    height: 100%;
    transition: transform 0.2s ease;
}
