.coin-button {
    /* Static Variables */

    /* Updatable Variables */
    --border: 2px solid transparent;
    --box-shadow: var(--box-shadow-default);
    --size: 3rem;
    --transform: none;
    --shadow-height-default: 0.625rem;
    --shadow-height-nickel: 0.58rem;
    --shadow-height-dime: 0.5rem;
    --shadow-bottom-default: -0.4rem;
    --shadow-bottom-nickel: -0.35rem;
    --shadow-bottom-dime: -0.3rem;
    --shadow-width-default: 64%;
    --shadow-width-hovered: 60%;
    --shadow-height: var(--shadow-height-default);
    --shadow-width: var(--shadow-width-default);
    --shadow-bottom: var(--shadow-bottom-default);
    --image-height: 100%;
    --image-width: 100%;

    cursor: pointer;

    position: relative;

    display: flex;
    align-items: flex-end;
    justify-content: center;

    width: var(--size);
    height: var(--size);
    padding: 0;
    border: none;
    border-radius: 50%;

    background: none;
    outline: none;
}

.coin-button[data-hovered] {
    --transform: scale(1.06) translateY(-10%);
    --shadow-width: var(--shadow-width-hovered);
}

.coin-button[data-pressed] {
    --transform: scale(0.9) translateY(0%);
}

.coin-button[data-focus-visible] {
    --border: 2px solid #1f867c;
    --transform: scale(1.06) translateY(-10%);
    --shadow-width: var(--shadow-width-hovered);
}

.coin-button::after {
    content: "";

    position: absolute;
    bottom: var(--shadow-bottom);
    left: 50%;
    transform: translateX(-50%);

    width: var(--shadow-width);
    height: var(--shadow-height);
    border-radius: 50%;

    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.45), transparent 70%);
    filter: blur(2px);

    transition: width 0.2s ease;
}

.coin-button--nickel {
    --image-height: 90%;
    --image-width: 90%;
    --shadow-height: var(--shadow-height-nickel);
    --shadow-width-default: 58%;
    --shadow-width-hovered: 54%;
    --shadow-bottom: var(--shadow-bottom-nickel);
}

.coin-button--dime {
    --image-height: 80%;
    --image-width: 80%;
    --shadow-height: var(--shadow-height-dime);
    --shadow-width-default: 54%;
    --shadow-width-hovered: 50%;
    --shadow-bottom: var(--shadow-bottom-dime);
}

.coin-button__image {
    will-change: transform;

    transform: var(--transform);

    flex: 0 0 auto;

    width: var(--image-width);
    height: var(--image-height);

    transition: transform 0.2s ease;
}

@media (min-height: 768px) {
    .coin-button {
        --size: 3.75rem;
    }
}
