.coin-button {
    /* Static Variables */
    --box-shadow-default: 0px 28px 14px -18px rgba(61, 61, 61, 0.4);
    --box-shadow-hovered:
        0px 28px 14px -18px rgba(61, 61, 61, 0.4), 0px 4px 8px 3px rgba(61, 61, 61, 0.25);
    --box-shadow-pressed:
        0px 28px 14px -18px rgba(61, 61, 61, 0.4), 0px 4px 9px 4px rgba(61, 61, 61, 0.25);
    --box-shadow-focus-visible: var(--box-shadow-hovered);
    --box-shadow-disabled: none;

    /* Updatable Variables */
    --border: 2px solid transparent;
    --box-shadow: var(--box-shadow-default);
    --size: 3.75rem;
    --transform: none;

    cursor: pointer;

    width: var(--size);
    height: var(--size);
    padding: 0;
    border: none;
    border-radius: 50%;

    background: none;
    outline: none;
}

.coin-button[data-hovered] {
    --transform: scale(1.06) translateY(-10%);
}

.coin-button[data-pressed] {
    --transform: scale(0.9) translateY(0%);
}

.coin-button[data-focus-visible] {
    --border: 2px solid #1f867c;
    --transform: scale(1.06) translateY(-10%);
}

.coin-button__image {
    transform: var(--transform);

    width: 100%;
    height: 100%;

    box-shadow: var(--box-shadow);

    transition: transform 0.2s ease;
}
