:root {
    --font-family-primary: "Roboto", sans-serif;
    --font-family-secondary: "PT Sans Caption", sans-serif;

    font-family: var(--font-family-primary);
    font-size: 16px;
    font-optical-sizing: auto;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

body {
    box-sizing: border-box;
    min-height: 100svh;
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

main {
    min-height: 100svh;
    background-color: #f9f9f9;
}
