/* styles.css or DisplayPanel.module.css */

.display-panel {
    padding: 1rem;
    border-radius: 0.5rem;

    color: #fff;

    background-color: #111;

    transition:
        box-shadow 0.3s ease,
        background-color 0.3s ease;
}

.display-panel.highlighted {
    color: #000;
    background-color: #ffcc00;
    animation: flash 0.3s ease-in-out;
}

@keyframes flash {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.04);
    }
    100% {
        transform: scale(1);
    }
}
